
<%- include('./partials/head') %>
<%- include('./partials/navbar', {currentPage: 'register'}) %>
<body>
    <header>
        <div class="container  text-center">
            <div class="d-flex justify-content-between">
                <h2 class="col-6">Name</h2>
                <h2 class="col-6">Logo</h2>
            </div>
            <h2>כל האימונים</h2>
        </div>
    </header>
    <main>
    
    </main>
</body>
</html>

