<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <head>
        <link rel="stylesheet" href="index.css">
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/index.css">
        <style>
            body {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
            }
        </style>
    </head>

    <body>

        <!-- Navigation -->
        <%- include('./partials/navbar', {currentPage: 'home'}) %>
        <!-- end of navigation -->
        
        <div class="container">
            <h1>!ברוכים הבאים לראשון בוטקאמפ</h1>
            <h5>השתמש <span class="text-primary">בתפריט ניווט</span> כדי לעבור בין עמודים</h5>

            <a href="/welcome">
                <button class="button small grey">כניסה ללא חשבון</button>
            </a>

            <a href="/register">
                <button class="button small black">הרשמה</button>
            </a>

            <a href="/login">
                <button class="button small orange">התחברות</button>
            </a>
        </div>

    </body>
</html>
