<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body data-spy="scroll" data-target=".fixed-top">
        <!-- Navigation -->
        <%- include('./partials/navbar', {currentPage: 'home'}) %>
        <!-- end of navigation -->
        
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
            <h1 class="text-center">Welcome to Rishon Bootcamp!</h1>
            <h5 class="mt-3 mb-auto">Use <span class="text-primary">navbar</span> to navigate between pages.</h5>
            <a href="/login">
                <button style="position: relative; right: 100px; bottom: 400px;">Login</button>
            </a>
            
            <a href="/register">
                <button style="position: relative; left: 100px; bottom: 430px;">Sign Up</button>
            </a>
            <a href="/">

            </a>




        </div>
    </body>
</html>