<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/navbar', {currentPage: 'list view'}) %>
    <div class="container">
        <h1>Register page</h1>
    </div>

    <script>
        const id = "671223f924d5ef0a8ab8373b";
    </script>
</body>
</html>