<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <%- include('./partials/navbar', { currentPage: 'login' }) %>
    <div class="container" id="main">
        <div>
            <h1>Login page</h1>
            <h1>Welcome back!</h1>
        </div>
        <div id="message" class="message"></div>
        <form id="loginForm" action="/api/v1/auth/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="example@example.com" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Done</button>
        </form>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent form submission
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const messageElement = document.getElementById('message');

            try {
                const response = await fetch('/api/v1/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, password })
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    messageElement.textContent = `Login failed: ${errorData.error}`;
                    messageElement.classList.add('error');
                    console.error('Login failed:', errorData.error);
                    return;
                }

                const data = await response.json();
                console.log('Login successful:', data);
                // Redirect to welcome.ejs
                window.location.href = '/welcome'; // Adjust the URL based on your routing
            } catch (error) {
                console.error('Error:', error.message);
                messageElement.textContent = `Error: ${error.message}`;
                messageElement.classList.add('error');
            }
        });
    </script>
</body>
</html>
