<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/navbar', {currentPage: 'login'}) %>
    <div class="container">
        <h1>Login page</h1>
    </div>
</body>
</html>