<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Screen</title>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <!-- CSS of Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- CSS of Leaflet Routing Machine -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />

    <style>
        body {
            text-align: center;
        }

        #map {
            height: 500px;
            width: 70%;
            margin: 0 auto;
        }

        .icons {
            width: 35%;
            margin: 8px;
        }

        i {
            font-size: 24px;
            margin: 0 4px;
            cursor: pointer;
        }

        #toggleListView {
            margin: 15px auto;
            padding: 10px 20px;
            font-size: 1.4em;
            width: 250px;
            height: 60px;
            background-color: #dadada;
            border: 1px solid black;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        #toggleListView:hover {
            color: white;
            background-color: black;
            opacity: 80%;
        }
    </style>
</head>

<body>
    <!-- header -->
    <h1>שם האימון </h1>

    <div class="icons" style="align-self: flex-end;">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
        <i class="far fa-star" aria-hidden="true"></i>
    </div>

    <div id="map"></div>
    <button id="toggleListView">הצגה ברשימה</button>

    <!-- footer -->

    <!-- JS of Leaflet -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
    <!-- JS of Leaflet Routing Machine -->
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    <script>
        const ID = "67123caa24d5ef0a8ab8377c";

        const PROTOCOL = window.location.protocol
        const URL = `${PROTOCOL}/api/v1/routes/${ID}`

        // Initialize the map object
        const map = L.map('map').setView([31.95966273043602, 34.80208048694831], 12); // Rishon coordinates

        // Setting map layer from OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const fetchRoute = async () => {
            try{
                const response = await fetch(URL)
                const data = await response.json()

                return data
            }catch(err){
                throw new Error(err)
                return {}
            }
        }

        // Fetching the route data from the API
        const addRouteToMap = async() => {
            const route = await fetchRoute();

            if (!route || !route.places || route.places.length === 0) {
                console.error("Invalid route data");
                return;
            }

            const waypoints = []; // Create an array to hold all the coordinates

            
            // Loop through each place to add markers and collect waypoints
            for(place of route.places){
                const coordinates = [place.coordinates.latitude, place.coordinates.longitude]; // [latitude, longitude]
                L.marker(coordinates).addTo(map).bindPopup(place.name); // Create a marker for each place
                waypoints.push(L.latLng(coordinates)); // Add coordinates to the waypoints array
            };

            // Add a single routing control for all the waypoints
            L.Routing.control({
                waypoints: waypoints,
                routeWhileDragging: false,
                createMarker: function () {
                    return null;  // Prevent adding additional markers for waypoints
                },
                show: false,
                draggableWaypoints: false
            }).addTo(map).on("routingError", (err) => console.log(err));
        }

        addRouteToMap();

        // Event listener for the button to redirect to list view
        document.getElementById("toggleListView").addEventListener("click", function () {
            window.location.href = "/list";  // Redirects to the list page
        });
    </script>
</body>
</html>
