<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/navbar', {currentPage: 'routes'}) %>
    <div class="container">
        <h1>Routes</h1>
        <div class="overflow-auto">
            <table id="routes" class="table table-striped">
            <thead>
                <tr>
                <th style="min-width: 10rem;">Name</th>
                <th style="min-width: 10rem;">Description</th>
                <th>Distance</th>
                <th>Duration</th>
                <th style="min-width: 15rem;">Places</th>
                <th>Tags</th>
                </tr>
            </thead>
            <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="/js/routes.js"></script>
</body>
</html>