<!DOCTYPE html>
<html lang="en">

    <title>Document</title>

    <%- include('./partials/head') %>
   <style>
            
            body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
            flex-direction: column;
        }

        h1, p {
            text-align: center;
        }

        h1 {
            font-size: 2.5em;
            color: #343a40;
        }

        p {
            font-size: 1.2em;
            color: #6c757d;
        }

    
        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            display: block;
            margin: 20px auto;
            border: 2px solid #6c757d;
        }

        
        .button {
            background-color: #343a40;
            color: white;
            padding: 10px 20px;
            font-size: 1.1em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #495057;
        }

        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #343a40;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 18px;
        }

        li a:hover {
            background-color: #495057;
        }

    
        .material-icons {
            font-size: 30px;
        }

    
        @media(max-width: 600px) {
            h1 {
                font-size: 2em;
            }

            p {
                font-size: 1em;
            }

            img {
                width: 120px;
                height: 120px;
            }
        }
   </style>
    <body data-spy="scroll" data-target=".fixed-top">
        <!-- Navigation -->
        <%- include('./partials/navbar', {currentPage: 'home'}) %>
        <!-- end of navigation -->
         <h1 id="userDisplay"> Hello! </h1>
         <p1>you still havent chosen a profile picture</p1>
         <img src="https://i.postimg.cc/s21CdrnY/blank-profile-picture-973460-960-720.webp" alt="background">
          <button type="button" class="regular button grey" onclick="nextPage()"> lets start training!</button>


          <div class="cantainer">
            <ul> 
        <li style="float:right"><a href="#" class="nav_link nav_link">
          <i class="material-icons" style="font-size:35px;">account_circle</i>
        </a></li>
        <li><a href="#" class="nav__link">
          <img src="https://i.postimg.cc/FK3CTCDm/Rishon-Fit-1.png" alt="logo" width="35" height="35">
        </a></li>
        <li><a href="#" class="nav__link">
          <i class="material-icons" style="font-size:35px;">search</i>
        </a></li>
      </ul>
          </div>
         <script>
           function nextPage(){
            location.href="views\index.ejs";}

          function displayName(){
            //this function displays hi(username) after the log in was succssessfull in the welcome page.
            const username = localStorage.getItem('username');
           // Check if the username exists
            document.getElementById('userDisplay').innerText = ("hello "+username);}

          function getUserName(){
            //supposed to be in the login/sign up/register page to send the username here so the welcome page will display it.
           const  user=document.getElementsByClassName("UserName")
            localStorage.setItem('username', user);
            //trigger the function once the log in is sucssessfull.
            displayName()
          }
         </script>
</body>
</html>